<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">  
    

    <test name="Cash_FullRefund">
        <classes>
            <class name="pays.payspostest.TakeOutTest">
                <methods>
                    <exclude name="TakeOut_Cash_RefundItemWise_.*" />
                    <exclude name="TakeOut_Card_.*" />
                </methods>
            </class>
        </classes>
    </test>

    <test name="Cash_ItemWiseRefund">
        <classes>
            <class name="pays.payspostest.TakeOutTest">
                <methods>
                    <exclude name="TakeOut_Card_.*" />
                    <exclude name="TakeOut_Cash_FullRefund_.*" />
                </methods>
            </class>
        </classes>
    </test>
    <test name="Card_Refund">
        <classes>
            <class name="pays.payspostest.TakeOutTest">
                <methods>
                    <exclude name="TakeOut_Cash_RefundItemWise_.*" />
                    <exclude name="TakeOut_Cash_FullRefund_.*" />
                </methods>
            </class>
        </classes>
    </test>
</suite>
